<% layout("/layouts/boilerplate") -%>
<body style="background: #F7F5EF;">

    <br /><br />
    
    <form method="post" action="/listings/<%=findlist._id%>?_method=put" enctype="multipart/form-data">
      
      <div class="row">
      <div class="col-8 offset-2">
      <h3>Edit Listing</h3>
      <br>
      <div class="form-container" >
      
      <div>
      <lable for="title" class="form-lable">Title</lable>
      <input name="listing[title]" value="<%=findlist.title%>" class="form-control" type="text" />
      </div>
      <br /><br />
      <div>
       <lable for="description" class="form-lable">Description</lable> 
      <textarea
        name="listing[description]"
        class="form-control"
      ><%=findlist.description%></textarea> 
      </div>
      <br /><br />
      <div>
       <lable for="image" class="form-lable">Upload New Image</lable> 
      <input
        name="listing[image]"
        type="file"
        class="form-control"
      />
      </div>
      <br /><br />
      <div class="nested-cont">


      <div class="mb-3 col-md-4" >
      <lable for="price" class="form-lable">Price</lable>
      <input name="listing[price]" value="<%=findlist.price%>" type="number" class="form-control" />
      </div>
      <br /><br />
      <div class="mb-3 col-md-6">
      <lable for="country" class="form-lable">Country</lable>
      <input name="listing[country]" value="<%=findlist.country%>" type="text" class="form-control" />
      </div>


      </div>
      <br /><br />
      <lable for="location" class="form-lable">Location</lable>
      <input
        name="listing[location]"
        value="<%=findlist.location%>"
        type="text"
        class="form-control"
      />
      <br /><br />
      <button class="add-club">Edit</button>
      </div>
      </div>
      </div>
    </form>
    
</body>
